body
{
	margin: 0px;
	padding: 0px;
}
div.main
{
	text-align: center;
	padding: 32px 128px ;
}
input#v
{
	border-style: solid;
	border-width: 4px;
	border-color: #87e4f2;
	text-align: center;
}
div.getimage
{
	margin: 0px auto;
	width:448px;
	background: url("image.png");
}
div.getimage > p
{
	color: #60150d;
	background: url("suggest.png");
	background-position: center;
	background-repeat: repeat-y;
}
table#panel
{
	display:inline;
}
td
{
	text-align: center;
}
tr.width
{
	color: transparent;
}
img#box
{
	background-color: #ffffff;
	padding: 8px;
	border-style: solid;
	border-color: #000000;
	border-width:2px;
}
